[user]
	email = marcin@cahoots.pl
	name = Marcin Koziej
[push]
	default = simple
[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	sb = show-branch
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	type = cat-file -t
	dump = cat-file -p
	emerge = mergetool --tool=\"emerge -mm\"
  featlog = "!f(){ git log -p $1 --not master;}; f"

[github]
	user = marcin@cahoots.pl
[gitlab "https://gitlab.wemove.eu/api/v4"]
	user = marcin@cahoots.pl
[gitlab "gitlab.wemove.eu/api/v4"]
	user = marcin@cahoots.pl
[pull]
	rebase = false
[init]
	defaultBranch = main
[credential]
	helper = store
