[user]
	name = Marcin Koziej
	email = marcin@cahoots.pl
[push]
	default = simple
[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
  sb = show-branch
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	type = cat-file -t
	dump = cat-file -p
